*.Rproj
*.Rbuildignore
.Rproj.user/702E4B2B/console06/E242CE18
.Rproj.user/702E4B2B/console06/E242CE18
.Rproj.user/702E4B2B/console06/INDEX001
.Rproj.user/702E4B2B/sources/prop/70AA8B5
.Rproj.user/702E4B2B/sources/prop/CFADCAAB
.Rproj.user/702E4B2B/sources/prop/D0D76091
.Rproj.user/702E4B2B/sources/s-D2F97381/1430E130
.Rproj.user/702E4B2B/sources/s-D2F97381/EC5F1E8C
.Rproj.user/702E4B2B/sources/s-D2F97381/F8F9DEFD
